.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-color {
  color: red;
  background: red;
}

.MuiPaper-root.MuiCard-root.event-color.MuiPaper-elevation1.MuiPaper-rounded {
  margin-bottom: 30px;
  border-radius: 12px;
  font-color: #fff;
  font-size: 13px;
}

.event-Warmup {
  background-color: red !important;
}
.event-1 {
  background-color: green !important;
}
.event-VIP {
  background-color: blue !important;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.MuiPaper-root.MuiCard-root.event-color.MuiPaper-elevation1.MuiPaper-rounded {
  position: relative;
  overflow: visible !important;
}

.arrow-icon-wrap {
  color: #fff;
  font-size: 60px;
  margin-top: -44px;
}
